debian/debhelper-build-stamp
debian/files
debian/google-android-build-tools-installer/
debian/google-android-build-tools-installer.debhelper.log
debian/google-android-build-tools-installer.postrm.debhelper
debian/google-android-build-tools-installer.substvars
